html , body {
    margin: 0;
    background-color: #222222; /* 最後再改成和root同色 */
    /* overflow: hidden; */
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
}

#root {
    text-align: center;
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    padding: 50px 115px 0 115px;
    box-sizing: border-box;
    font-family: "Press Start 2P", cursive;
    background-color: #E2E2E2;
    color: #222222;
}

.top-side {
    width: 100%;
    /* border: 0.1px solid red; */
    /* float: left; */
    /* display:inline; */
}

.area {
    width: 425px;
    height: 145px;
    margin: 0 0 30px 0;
    padding: 0; 
    /* border: 0.1px solid orange; */
}


/* left temp area */
.left-area {
    float: left;
}

    /* placed poker area, both left and right */
.placed-area {
    width: 91px;
    height: 141px;
    margin: 0;
    padding: 0;
    border: 2px solid #FCFCFC;
    opacity: 0.6;
}

.temp-margin {
    margin-right: 15px;
}


/* king icon */
.king-stamp {
    float: left;
}

#king {
    width: 60px;
    margin: 30px 30px 0 30px;
}

#free-cell-icon {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
}


/* rigth final area */
.right-area {
    float: right;
}

.final-area {
    background-color: #FCFCFC;
    opacity: 0.6;
}

.final-margin {
    margin-left: 15px;
}
    /* poker */
.poker-suits {
    width: 35px;
    margin-top: 55px;
}

    /* poker-area */
#medsection {
    width: 100%;
    height: 493px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}


/* med, for cards */
.medsection .deck {
    margin-top: 10px;
    width: 100px;
    height: 150px;
    position: relative;
    transition: all 0.3s;
}

.medsection .deck > .cardbox0 {
    top: 0;
}

.cardbox0 {
    position: relative;
    top: 25px;
    height: 145px;
    width: 95px;
    transition: all 0.1s;
    background-size: contain; 
}


/* dragging */
.dragging {
    opacity: 0.5;
}

.hover:hover {
    border: 2px solid #FFB53E;
    border-radius: 5px;
    left: -2px;
    /* filter: drop-shadow 0px 0px 10px rgba(255, 255, 255, 0.5);
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5)); */
}

.set-full-opacity {
    opacity: 1;
}

.on-left {
    top: -2px;
    left: -2px;
}

.on-right {
    top: -96px;
    left: -2px;
}

.on-right-bigger-two {
    top: 0;
}

/* enter effect */
.enterEffect {
    filter: drop-shadow 0px 0px 10px rgba(255, 255, 255, 0.5);
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    -moz-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}

.deckEnterEffect {
    height: 141px !important;
    box-shadow: 1px 1px 10px 5px rgba(255, 255, 255, 0.5) inset;
}





/* bottom, footer */
.bottom-side {
    height: 80px;
    width: 1000px;
    /* margin-top: 668px; */
    left: 100px;
    border-top-style:solid;
    border-top-color: gray;
    border-top-width: 2px;
    position: absolute;
}

.info-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #222222;
    border-radius: 100%;
    margin-top: 20px;
}

#info-spade-icon {
    margin-top: 10px;
}

.time-clock {
    margin-top: 31px;
    margin-left: 10px;
}

.score-block {
    margin-top: 31px;
    margin-left: 20px;
}

    /* btn */
.game-btn {
    font-family: Lato;
    font-weight: bold;
    font-size: 12px;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    background-color: #222222;
    color: #FFFFFF;
    margin: 20px 0 0 15px;
    padding: 0;
}





